/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #3A3748;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.navbar {
    /*  font-family: 'Montserrat', sans-serif;
      font-family: 'Poppins', sans-serif;
      font-family: 'Quicksand', sans-serif;
      font-family: 'Raleway', sans-serif;
      font-family: 'Roboto', sans-serif;
      */
  
      font-family: 'Montserrat', sans-serif;
  
      background-image: linear-gradient(to bottom, #3A3748, #000000);
      padding: 10px 0; 
      margin: 0;
      
  
  }
  
  
  .navbar ul {
      list-style: none; 
      margin: 0;
      padding: 0;
      text-align: center; 
  }
  
  .navbar li {
      display: inline; 
      margin-right: 60px; 
  }
  
  
  .navbar a {
      text-decoration: none; 
      color: #FFC758; 
      font-weight: bold; 
      font-size: 16px; 
      padding: 10px 20px; 
      margin: 0 10px; 
      box-sizing: border-box; 
      width: auto; 
  }
  

.contact {
    background-color: #E45042;
    padding: 50px;
    text-align: center;
}

.contact h1 {
    color: #FFFFFF;
    font-size: 36px;
    margin: 0 0 20px;
}

.contact p {
    font-size: 18px;
    line-height: 1.5;
}

/* Formulario de contacto */
#contact-form {
    margin-top: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #FF8C46;
    color: #3A3748;
}

button {
    background-color: #AD353F;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FF8C46;
}

/* Footer */
footer {
    text-align: center;
    background-color: #AD353F;
    padding: 10px 0;
}

footer p {
    color: #FFFFFF;
    font-size: 14px;
    margin: 0;
}
